* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
html, body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    height: 100%;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.page__container, .new-page__container, .footer-page__container{
    max-width: 1170px;
    min-width: 900px;
    margin: 0 auto;
}
.page__container{
    padding: 0 30px;
}
.header {
    background: url("../img/sample2.jpg") center no-repeat;
    width: 100%;
    background-size: cover;
    color: #FFFFFF;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.landing-logo {
    font-size: 18px;
    text-transform: uppercase;
}
.nav__link, .header__text, .article__text{
    line-height: 1.3;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.header_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    height: 320px;
}
.header__title {
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.header__title > span{
    font-size: 90px;
}
.main-nav{
    margin-bottom: 120px;
}
.main-nav__item{
    padding: 20px 60px;
    border: 1px solid #FFFFFF;
}
.main-nav__items, .footer__content, .footer__nav__items {
    display: flex;
    justify-content: space-between;
}
.photo > img {
    max-width: 100%;
    height: auto;
}
.img-wrap {
    flex: 0 1 50%;
}
.page__content {
    display: flex;
    margin-bottom: 40px;
}
.articles__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.img__wrap{
    position: relative;
    height: 100%;
    max-width: 50%;
}
.img__info{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    padding: 15px;
}
.img__likes{
    padding: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.img__num:after{
    content: '\2665';
    padding-left: 5px;
}
.img__description{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}
.first-articles__content{
    margin-left: 70px;
}
.second-articles__content{
    margin-right: 70px;
}
.first-articles__content, .second-articles__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.article__text:nth-child(1){
    padding-top: 20px;
}
.section-header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 221px;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    display: block;
    background: #F4F4F4;
}
.section-content, .subscribe-section{
    background: #F4F4F4;
}
.article__wrap{
    padding-top: 50px;
    padding-bottom: 60px;
}
.section-text{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.page-article{
    position: relative;
    color: #000000;
    font-weight: 100;
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
}
.section-header{
    height: 220px;
    background: #000000;
    color: #FFFFFF;
}
.left_section-text{
    width: 330px;
    margin-top: 95px;
    line-height: 1.5;
    font-size: 16px;
    color: #000000;
}
.right_section-text{
   flex-basis: 460px;
    line-height: 1.3;
}
.bold__text{
    font-weight: 700;
}
.photos-content{
    display: flex;
    justify-content: space-around;
}
.photo__wrap{
    position: relative;
    height: 100%;
}
.img-block{
    width: 190px;
    height: 250px;
    overflow: hidden;
}
.img-block > img{
    height: 100%;
    object-fit: cover;
}
.explore{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    color: #E8E8E8;
    background: rgba(9, 119, 116, 0.8) ;
}
.button__wrap, .next__section-content{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}
.loading{
    padding: 16px 120px;

}
.new-page__container{
    padding: 0 15px;
}
.subscribe-section{
    padding: 40px 0;
}
.subscribe__block{
    margin: 40px 0;
    text-align: right;
}
input[type=email]{
    font-size: 16px;
    color: #000000;
    background: #F4F4F4;
    border: 1px solid #000000;
    padding: 10px;
}
label[for=email]{
    font-size: 20px;
    margin-right: 20px;
}
input[type=submit]{
    padding: 10px;
    margin-left: 10px;
}
input[type=submit], .loading{
    background: #097774;
    color: #FFFFFF;
    font-size: 16px;
}
.footer-nav__item > a, input::placeholder {
    color: #000000;
}
.footer-nav__item{
    margin-left: 30px;
}
.footer__content{
    padding: 20px 0;
}
.footer__logo{
    color: #9E9E9E;
}