$contentBackground: #fff;
$headerBackground: no-repeat center url("../img/m-h-day.jpg") ;
$contentColor: rgb(44,46,59);
$fontColor: rgb(44,47,58);
$underlineBackgroundColor: rgb(90,158,195);
$fontStack:'Source Sans Pro', sans-serif;
$fontParagraphs: 'Hind', sans-serif;
$buttonBackground: rgb(115, 151, 48);
$sectionBackground: rgb(33, 35, 45);
$colorGradient: linear-gradient(to right, #649410, #00955c, #008ea4, #007ed1, #315fc8);
