$contentBackground: #2C2F3C;
$headerBackground: no-repeat center url(../img/m-h-night.jpg);
$contentColor: white;
$fontColor: rgb(59,62,78);
$underlineBackgroundColor: rgb(219, 85, 60);
$fontStack: 'Source Sans Pro', sans-serif;
$fontParagraphs: 'Hind', sans-serif;
$buttonBackground: rgb(218, 175, 73);
$sectionBackground: rgb(33, 35, 45);
$colorGradient: linear-gradient(to right, #dca106, #db7e26, #cd5f39, #b64646, #97344d);
